*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.body1{
  font-family: "Roboto", sans-serif;
  background-image: url('../assets/doodle2.jpg'); /* Replace with your doodle image URL */
  background-repeat: no-repeat;
  background-size: cover; /* Adjusts the doodle to cover the entire background */ 
  background-position: center;
}
.screen.active{
  display: block;
  color: #161616;
  background-color: rgba(238, 238, 238, 0.7);
  width: 500px;
  height: 300px;
  justify-content: center;
}
.app {
  font-family: "Roboto", sans-serif;
  background-image: url('../assets/doodle3.jpg'); /* Replace with the correct image path */
  background-repeat: no-repeat;
  background-size: cover; /* Ensures the image covers the entire background */
  background-position: center;
  min-height: 100vh;
   /* Ensures the background covers the whole viewport height */
   min-width: 1365px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.join-screen .form{
  position: relative;
  justify-content: center;
  align-items: center;
  top: 50%;
  transform: translateY(-50%);
  padding: 50px;
}
.join-screen .form .form-input{
  margin: 10px 0px;
}
.join-screen .form h2{
  font-size: 40px;
  line-height: 45px;
  color: #222;
  margin-bottom: 20px;
}
.join-screen .form button{
  background: #111;
  padding: 40px 50px;
  font-size: 18px;
  border-radius: 20px;
  color: #c43838;
  border: none;
  outline: none;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}
.join-screen .form #join-id b {
  color: #222;
  display: block;
  margin-top: 20px;
}
.join-screen .form #join-id span{
  display: inline-block;
  font-size: 25px;
  font-family: monospace;
  color: #222;
  padding: 10px;
  border: 1px solid #111;
  margin-top: 5px;
}
.join-screen .form label{
  color: #222;
  font-size: 18px;
}
.join-screen .form input{
  display: block;
  margin: 10px 0px;
  width: 100%;
  max-width: 200px;
  border: 1px solid #111;
  color: #111;
  font-size: 20px;
  padding: 10px;
}

.fs-screen{
  background-color: rgba(238, 238, 238, 0.7);
  width: 400px;
  height: 300px;
  padding: 20px;
}
.fs-screen .file-input{
  width: 100%;
  border: 2px dashed #555;
}
.fs-screen .file-input label{
  display: block;
  width: 100%;
  padding: 40px 50px;
  text-align: center;
  color: #111;
  font-size: 18px;
}
.fs-screen .file-input input{
  display: none;
}
.fs-screen .files-list{
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}
.fs-screen .files-list .title{
  width: 100%;
  font-size: 18px;
  color: #555;
  margin-bottom: 20px;
}
.fs-screen .files-list .item{
  width: 33.33%;
  min-width: 200px;
  border: 1px solid #eee;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.05);
}
.fs-screen .files-list .progress{
  padding: 30px;
  text-align: center;
  font-size: 50px;
  font-family: monospace;
  color: #222;
}
.fs-screen .files-list .item .filename{
  font-size: 16px;
  padding: 5px;
  border-top: 1px solid #eee;
}