/* Reset Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Grotesk", sans-serif;
}


/* Navigation Bar */
.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px; /* Better spacing for visibility */
  display: flex;
  justify-content: space-between; /* Separate logo and links */
  align-items: center; /* Center items vertically */
  background-color: transparent;
  color: #3D132F;
  padding: 0 20px;
  z-index: 1000; /* Ensures the navbar is on top */
  border-bottom-left-radius: 15%;
  border-bottom-right-radius: 15%;
}


.nav-bar .logo {
  margin: 0;
  padding: 0 10px;
  display:flex;
}

.nav-bar .logo img {
  width:50px;
  height:50px;
}

.nav-bar .logo h1 {
  font-size: 24px;
  padding: 10px 2px;
  margin: 0; /* Remove default spacing */
  color:#ddd
}

.nav-bar .links {
  display: flex;
  gap: 30px; /* Evenly space links */
  align-items: center;
  padding-right: 40px;
  font-size: 20px; }

.nav-bar .links a {
  position: relative; /* Required for the ::after pseudo-element */
  text-decoration: none; /* Remove underline */
  font-size: larger;
  font-weight: 500;
  transition: color 0.3s ease; /* Smooth color transition */
}

.nav-bar .links a:hover {
  color: #ddd; /* Change text color on hover */
}

.nav-bar .links a::after {
  content: '';
  position: absolute; /* Positions the underline relative to the parent <a> */
  width: 100%; /* Full width of the link */
  height: 2px; /* Thickness of the underline */
  bottom: -5px; /* Position below the text */
  left: 0;
  background: linear-gradient(81.02deg, #189AB4 -43.47%, #05445E 5.52%, #75E6DA 134.8%);
  visibility: hidden; /* Hidden by default */
  transform: scaleX(0); /* Start with no width */
  transform-origin: center; /* Animate from the center */
  transition: all 0.3s ease-in-out; /* Smooth animation */
}

.nav-bar .links a:hover::after {
  visibility: visible; /* Make the underline visible */
  transform: scaleX(1); /* Expand underline to full width */
}

